#timeline {
    margin-top: 30px;
    overflow:auto;
    padding-bottom: 20px;
    width: 100%;
}

.instrument {

    $stepSize: 40px;
    $gutter: 4px;
    $stepBgColor: #555;
    $activeColor: #74b9ff;
    $labelBgColor: #0984e3;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $gutter;

    .label {
        display: flex;
        align-items: center;
        text-indent: 10px;
        background-color: $labelBgColor;
        color: #fff;
        height: $stepSize;
        width: 100px;
        text-transform: capitalize;
    }

    .steps {

        display: flex;
        justify-content: space-between;

        .step {

            background-color: $stepBgColor;
            border: 5px solid $stepBgColor;
            box-sizing: border-box;
            height: $stepSize;
            margin-left: $gutter;
            width: $stepSize;

            &:nth-child(4n + 1) {
                background-color: #666;
                border-color: #666;
            }

            &.active {
                background-color: $activeColor;
            }

            &.highlight {
                box-shadow: inset 0 0 0 1px #fff;
            }

        }

    }

}
