body {
    background-color: #222;
    font-family: sans-serif;
}

#drum-machine {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bar {
    display: flex;
    align-items: center;
}

.field {

    display: flex;
    align-items: center;

    margin-left: auto;

    label {
        color: #fff;
        margin-right: 10px;
    }

    input[type="number"] {
        border: none;
        padding: 5px;
        margin-right: 5px;
        width: 80px;
    }

}

@import
    'scrollbar',
    'timeline',
    'controls';